<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Notes</title>
    {% load static %}
    <link
      rel="shortcut icon"
      type="image/icon"
      href="{% static 'favicon.ico' %}"
    />
  </head>
  {% load static %}
  <body>
    <h3>Notes app login</h3>
    <!-- FLAW 1 - Broken Authentication -->
    <!--<form action="/notes/login/" method="POST">-->
    <form action="/notes/login/" method="GET">
      <!--{% csrf_token %}-->

      <label for="username">Username:</label><br />
      <input type="text" name="username" /><br />
      <label for="password">Password:</label><br />
      <input type="text" name="password" />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
